PUBLIC_MAIN_SPECIES=Tcas
PUBLIC_SPECIES_SCIENTIFIC_NAME=Tribolium Castaneum
PUBLIC_GENE_PREFIX=TC

PUBLIC_APIS_BASE_URL=https://api.example.com/api
PUBLIC_UI_PAGE_GENOMEBROWSER=https://genome.example.com/jbrowse2/
PUBLIC_UI_PAGE_ONTOSCOPE=https://ontoscope.example.com
PUBLIC_UI_PAGE_BLAST=https://blast.example.com/blast/
PUBLIC_UI_PAGE_API_DOC=https://example.com/api-docs

# Auth.js Configuration
AUTH_SECRET=your_auth_secret_here
AUTH_TRUST_HOST=true

# Keycloak Configuration
KEYCLOAK_ISSUER=https://keycloak.example.com/realms/your-realm
KEYCLOAK_CLIENT_ID=your-client-id
KEYCLOAK_CLIENT_SECRET=your-client-secret

# Directus Configuration
PUBLIC_DIRECTUS_URL=https://cms.example.com/ibb/cms
