---
import Layout from "@/layouts/default.astro";
import Information from "@/components/pages/help/about/Information";
---

<Layout>
  <div class="max-w-6xl mx-auto space-y-12">
    <Information />
  </div>
</Layout>
