---
import Layout from "@/layouts/default.astro";
import DataProtection from "@/components/pages/help/datenschutz/DataProtection";
---

<Layout>
  <div class="max-w-6xl mx-auto space-y-12">
    <DataProtection />
  </div>
</Layout>
