---
import Layout from "@/layouts/default.astro";
import Imprint from "@/components/pages/help/impressum/Imprint";
---

<Layout>
  <div class="max-w-6xl mx-auto space-y-12">
    <Imprint />
  </div>
</Layout>
