---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/home/Hero";
import ToolCards from "@/components/home/ToolCards";
import Footer from "@/components/home/Footer";
---

<Layout>
  <div class="flex-1 overflow-y-auto p-6 md:p-12 relative">
    <div class="max-w-6xl mx-auto flex flex-col gap-12">
      <Hero client:load />
      <ToolCards />
      <Footer />
    </div>
  </div>
</Layout>
