---
import { readItems, readSingleton } from "@directus/sdk";

import Layout from "@/layouts/default.astro";
import Hero from "@/components/pages/home/Hero";
import ToolCards from "@/components/pages/home/ToolCards";
import Footer from "@/components/pages/home/Footer";
import { isNotNullable } from "@/utils/filterFn";
import { directus } from "@/utils/directus";

let siteTitle = "EMOBase";
let homeTitle: string | undefined = undefined;
let description: string | undefined = undefined;
let examples: string[] = [];
let aboutTheData: string =
  "The development of this project has been supported by DFG.";

try {
  const siteInfo = await directus.request(readSingleton("site_info"));
  if (siteInfo.title) {
    siteTitle = siteInfo.title;
  }
} catch (err) {
  console.error(" Error fetching site info:", err);
}

try {
  const homeData = await directus.request(readSingleton("homepage"));
  if (homeData.title) {
    homeTitle = homeData.title;
  }
  if (homeData.description) {
    description = homeData.description;
  }
  if (homeData.about_the_data) {
    aboutTheData = homeData.about_the_data;
  }
} catch (err) {
  console.error(" Error fetching homagepage data:", err);
}

try {
  const exampleItems = await directus.request(readItems("examples"));
  examples = exampleItems.map((item) => item.value).filter(isNotNullable);
} catch (err) {
  console.error("Error fetching examples:", err);
}
---

<Layout>
  <div class="p-4">
    <div class="max-w-6xl mx-auto flex flex-col gap-12">
      <Hero
        client:load
        title={homeTitle ?? siteTitle}
        description={description}
        examples={examples}
      />
      <ToolCards client:load />
      <Footer aboutTheData={aboutTheData} />
    </div>
  </div>
</Layout>
