---
import { readItems } from "@directus/sdk";

import Layout from "@/layouts/default.astro";
import { isNotNullable } from "@/utils/filterFn";
import { directus } from "@/utils/directus";
import Section, { type Link } from "@/components/pages/resources/Section";

let sections: { header: string; links: Link[] }[] = [];

try {
  const sectionItems = await directus.request(
    readItems("resource_sections", {
      fields: ["header", "links.*"] as any,
    }),
  );
  sections = sectionItems
    .map((item) => ({
      header: item.header ?? "",
      links: item.links,
    }))
    .filter(isNotNullable);
} catch (err) {
  console.error("Error fetching resource sections:", err);
}
---

<Layout>
  <div class="max-w-6xl mx-auto">
    {
      sections.map(({ header, links }) => (
        <Section header={header} links={links} />
      ))
    }
  </div>
</Layout>
