---
import { readSingleton } from "@directus/sdk";

import "@/styles/global.css";
import { directus } from "@/utils/directus";

const runtimeEnv = Object.fromEntries(
  Object.entries(process.env).filter(([key]) => key.startsWith("PUBLIC_")),
);

const color = await directus.request(readSingleton("color"));
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>iBeetle Base</title>

    <style define:vars={{ directusColor: color.value ?? "#d97706" }}>
      :root {
        --primary: color-mix(in oklab, var(--directusColor) 80%, orange 20%);
        --primary-bold: var(--directusColor);
        --primary-light: color-mix(
          in oklab,
          var(--directusColor) 60%,
          orange 30%
        );
      }
    </style>

    <script is:inline define:vars={{ runtimeEnv }}>
      window.__ENV__ = runtimeEnv;
    </script>
  </head>
  <body class="h-screen w-full overflow-hidden">
    <slot />
  </body>
</html>
