---
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
import { twMerge } from "tailwind-merge";

import "@/styles/global.css";
import { Toaster } from "@/components/ui/sonner";
import Sidebar from "@/components/layouts/Sidebar";
import Topbar from "@/components/layouts/Topbar";
import SessionManager from "@/components/layouts/SessionManager";
import LayoutConfig from "@/astros/LayoutConfig.astro";
import EnvWarning from "@/astros/EnvWarning.astro";
import Logo from "@/astros/Logo.astro";
import SiteTitle from "@/astros/SiteTitle.astro";
import { keycloakBaseUrl } from "@/utils/url";

const url = Astro.url.pathname;

interface Props {
  className?: string;
  topbar?: boolean;
  sidebarCollapsed?: boolean;
}

const { className, topbar = true, sidebarCollapsed = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <LayoutConfig />

    <ClientRouter />
    <LoadingIndicator color="var(--primary)" />
  </head>
  <body class="h-screen w-full overflow-hidden flex flex-col">
    <EnvWarning />
    <div class="flex-1 flex overflow-hidden">
      <SessionManager client:load transition:persist />
      <Toaster client:load transition:persist />
      <Sidebar
        url={url}
        forceCollapsed={sidebarCollapsed}
        client:load
        transition:persist
      >
        <Logo slot="logo" />
        <SiteTitle slot="title" />
      </Sidebar>
      <div class="flex-1 flex flex-col">
        {topbar && <Topbar keycloakBaseUrl={keycloakBaseUrl} client:load />}
        <main
          class={twMerge(
            "flex-1 overflow-y-auto scroll-smooth p-6 md:p-10 scroll-p-6 md:scroll-p-10",
            className,
          )}
        >
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
