---
import "material-symbols/outlined.css";
import { ClientRouter } from "astro:transitions";

import "@/styles/global.css";
import Sidebar from "@/components/Layout/Sidebar";

const url = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>EMOBase</title>

    <ClientRouter />
  </head>
  <body class="h-screen w-full overflow-hidden flex">
    <Sidebar url={url} client:load transition:persist />
    <main class="flex-1 overflow-y-auto">
      <slot />
    </main>
  </body>
</html>
