---
import Layout from "@/layouts/default.astro";
import { fetchIBs, fetchTriboliumGenes } from "@/utils/services/geneService";
import { fetchByGene as fetchPhenotypesByGene } from "@/utils/services/phenotypeService";
import GeneDetails from "@/components/pages/details/GeneDetails";

export const prerender = false;

const { gene = "" } = Astro.params;

const triboliumGene = (await fetchTriboliumGenes([gene]))[0];
const dsRNAs = await fetchIBs(gene);
const phenotypes = await fetchPhenotypesByGene(gene);
---

<Layout>
  <div class="flex-1 overflow-hidden relative flex">
    <div class="flex-1 overflow-y-auto p-6 md:p-10 scroll-smooth">
      <GeneDetails
        gene={gene}
        triboliumGene={triboliumGene}
        dsRNAs={dsRNAs}
        phenotypes={phenotypes}
        client:load
      />
    </div>
  </div>
</Layout>
